{% extends 'admin/navbar.html' %}

{% block content %}
    <div class="content-section">
      <h2>Employee List</h2>
      <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Rating</th>
            <th>Warnings</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employeedata %}
            <tr>
              <td>{{ employee.username }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.position }}</td>
              <td>{{ employee.salary }}</td>
              <td>{{ employee.rating }}</td>
              <td>{{ employee.warnings|length }}</td>
              {% if compliments|length>3 or employee.rating>2 %}
                <td><a href="/admin/employees/{{employee.id}}">Edit</a> Needs to be Promoted</td>
              {% else %}
                <td><a href="/admin/employees/{{employee.id}}">Edit</a></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/admin/employees/add">Add New Employee</a>
    </div>
{% endblock %}