{% extends 'admin/navbar.html' %}

{% block content %}
    <div class="content-section">
    <h2>Update Employee Information</h2>

    <h4>Employee Information</h4>
    <h6>NAME: {{ employee.username }}</h6>
    <h6>EMAIL: {{ employee.email }}</h6>
    <h6>RATING: {{ employee.rating }}</h6>
    <h6>WARNINGS: {{ employee.warnings|length }}</h6>
    <h6>POSITION: {{ employee.position }}</h6>
    <h6>SALARY: {{ employee.salary }}</h6>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.position.label(class="form-control-label") }}

                {% if form.position.errors %}
                    {{ form.position(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.position.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.position(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.salary.label(class="form-control-label") }}

                {% if form.salary.errors %}
                    {{ form.salary(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.salary.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.salary(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.active(class="form-check-input") }}
                {{ form.active.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    </div>
{% endblock %}