/* Navbar */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link {
    margin: 0 5px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

#myCarousel {
    padding-bottom: 50px;
}

/* Carousel */
#myCarousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 600px;
}

#myCarousel .carousel-item:before {
    content: '';
    display: block;
    position: absolute;
    background-image:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, .5));
    width: 100vw;
    top: 0;
    height: 100vh;
}

/* Cards */
#cards {
    padding-top: 50px;
    padding-bottom: 50px;
}

#explore {
    padding: 25px;
    text-align: center !important;
    background-color: #BCB88A;
}

.card {
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
}

/* Customer Quote */
.quote {
    text-align: center;
    margin: 0;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
}

/* Footer */
.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

/* Login */

.content-section {
    background: #ffffff;
    /*border: 1px solid #dddddd;*/
    border-radius: 3px;
    margin-bottom: 20px;
    padding-right: 500px;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#needacc {
    margin-bottom: 20px;
    margin-left: 0px;
    padding-left: 15px;
}

#areemploy {
    padding-left: 15px;
}

.email {
    padding-bottom: 10px;
}

.password {
    padding-bottom: 10px;
}

.remember {
    padding-bottom: 10px;
}

/* Menu */
#menu-header {
    text-align: center;
    background: #BCB88A;
    padding-top: 50px;
    padding-bottom: 50px;
}

#breakfast-header {
    text-align: center;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
}

#lunch-header {
    text-align: center;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
}

#dinner-header {
    text-align: center;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
}

.menu-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 16px;
    text-align: center;
}

#review_item {
    padding: 25px 25px 25px 25px;
}

/* warning header */
.header {
    padding: 20px;
    text-align: center;
    background: #BCB88A;
    color: white;
    font-size: 15px;
}