{% extends 'employee/delivery_navbar.html' %}

{% block content %}

<div class="content-section">

  <h1>Welcome {{ user.username }}</h1>

  <p>Position: {{ user.position }}</p>
  <p>Salary: ${{ user.salary }}</p>

  {% if user.address %}
    <hr>
    <p>Address: {{ user.address }}</p>
  {% endif %}

  <hr>

  <h3>Employee Warnings</h3>
    {% if warnings is defined and warnings.count() > 0%}
      {% for warning in warnings %}
          <div class="warning-item">
            <h6>Date: {{ warning.date_received.strftime('%m-%d-%Y | %I:%M:%S %p') }}</h6>
            <h6>Warning: {{ warning.content }}</h6>
          </div>
      {% endfor %}
    {% endif %}

</div>
{% endblock %}
