{% extends 'employee/chef_navbar.html' %}

{% block content %}
    <div class="content-section">
      <h2>Menu</h2>
      <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Description</th>
            <th>Chef</th>
            <th>Approval</th>
          </tr>
        </thead>
        <tbody>
          {% for menu in menudata %}
            <tr>
              <td>{{ menu.name }}</td>
              <td>{{ menu.price }}</td>
              <td>{{ menu.rating }}</td>
              <td>{{ menu.description }}</td>
              <td>{{ menu.chef.username }}</td>
              <td>{{ menu.approved }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/admin/menu/add">Add New Dish</a>
    </div>
{% endblock %}