{% extends 'layout.html' %}

<!-- Cart Page -->
{% block head %}
<title>Cart</title>
{% endblock %}

{% block content %}
<div class="content-section">
    <h1>Cart</h1>

    {% for item in cart %}
    <h5>{{ item.name }}</h5>
    <h6>PRICE: {{ item.price }}</h6>
    <h6>Qty: {{ item.quantity }}</h6>
    <hr width="50%">
    {% endfor %}

    <p>Subtotal: ${{ subtotal }}</p>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.delivery_type.label(class="form-control-label") }}

                {% if form.delivery_type.errors %}
                {{ form.delivery_type(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.delivery_type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.delivery_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}