{% extends 'layout.html' %}

<!-- Profile Page -->
{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}

    <div class="content-section">
      <h1>Welcome {{ user.username }}</h1>

      <p>Status: {{ user.status }} Customer</p>
      <p>Balance: ${{ user.deposit }}</p>
      <small>Not enough money on your account?</small> <a href="{{ url_for('deposit_money') }}">Deposit Money</a>
      <hr width="25%">

      {% if user.address %}
        <p>Address: {{ user.address }}</p>
        <small>Need to change your address?</small> <a href="{{ url_for('update_address') }}">Update Address</a>
      {% endif %}

      <hr>

      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-check">
                {{ form.quit(class="form-check-input") }}
                {{ form.quit.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>

      <hr>
      
      <h3>Customer Warnings</h3>
      {% if warnings is defined and warnings.count() > 0%}
        {% for warning in warnings %}
            <div class="warning-item">
              <h6>Date: {{ warning.date_received.strftime('%m-%d-%Y | %I:%M:%S %p') }}</h6>
              <h6>Warning: {{ warning.content }}</h6>
            </div>
        {% endfor %}
      {% endif %}
    </div>
{% endblock content %}