{% extends 'layout.html' %}

<!-- Customer Update Address Page -->
{% block head %}
<title>Update Address</title>
{% endblock %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Address</legend>
            <div class="form-group">
                {{ form.street.label(class="form-control-label") }}

                {% if form.street.errors %}
                {{ form.street(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.street.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.street(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.city.label(class="form-control-label") }}
                {% if form.city.errors %}
                {{ form.city(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.city.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.city(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.state.label(class="form-control-label") }}
                {% if form.state.errors %}
                {{ form.state(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.state.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.state(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.zipcode.label(class="form-control-label") }}
                {% if form.zipcode.errors %}
                {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.zipcode.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.zipcode(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}